@media screen and (max-width: 1440px) and (min-width: 1240px) {
    #robot-dir-flipped-thin {
        font-size: 18px;
        width: 865px;
    }

    li {
        font-size: 19px;
    }

    .main-sign-pluses {
        padding-bottom: 30px;
        margin-bottom: 70px;
        text-align: center;
    }

    .pluses-main {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    

    .signup,
    .more {
        width: 11rem;
        font-size: 20px;
    }

    .program-front-left, .game-front-left, .oge-front-left, .holiday-front-left {
        width: 140px;
    }

    #computer-img {
        width: 140px;
    }

    .card-back-sign {
        font-size: 17px;
        width: 95%;
        line-height: 32px;
    }

    #minecr-img {
        width: 150px;
    }

    .card-front-mainsign {
        font-size: 20px;
    }

    .card-front-thinsign {
        font-size: 17px;
        width: 105%;
    }

    .smallw {
        width: 90%;
        font-size: 18px;
    }

    #pensil-img1 {
        width: 150px;
    }

    #holiday-img {
        width: 80%;
        top: 3%;
    }

    .bigw {
        width: 40%;
    }

    .program-front-right,
    .game-front-right, .oge-front-right, .holiday-front-right {
        left: -2%;
    }

    #robot-dir-flipped-thin {
        font-size: 18px;
        width: 85%;
    }

    .age {
        right: -4%;
        top: -13%;
    }
    #holiday-img {
        width: 150px;
    }
}

@media screen and (max-width: 1319px) and (min-width: 1018px) {

    .down-line {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
    }

    #unity {
        grid-column: span 3;
        justify-self: center;
    }
}


@media screen and (max-width: 1239px) and (min-width: 1086px) {

    .container-main {
        padding: 0px 90px;
    }

    .banner-text-bold {
        font-size: 28px;
    }


    .robots {
        width: 450px;
    }

    .banner-text-sign {
        font-size: 20px;
    }

    #about-bg {
        width: 1087px;
        top: -0px;
        left: -600px;
    }

    .upper-line {
        align-items: center;
        justify-content: center;
    }

    li {
        margin-top: 20px;
        font-size: 18px;
    }

    .robot-dir1 {
        padding: 35px 63px;
    }

    .robot-dir-mid {
        position: relative;
    }

    .robot-dir-right-list {
        position: relative;
        width: 300px;
        height: 200px;
    }

    #robot-dir-left-sign {
        font-size: 28px;
    }

    #robot-dir-left-thin {
        font-size: 20px;
        width: 250px;
    }

    .flipped-btn {
        font-size: 20px;
    }

    .flipped-btn-active {
        font-size: 20px;
    }

    .signup,
    .more {
        width: 9rem;
        font-size: 18px;
    }

    .program-front-left, .game-front-left, .oge-front-left, .holiday-card  {
        width: 140px;
    }

    #computer-img {
        width: 130px;
    }

    #minecr-img {
        width: 140px;
        left: -5%;
    }

    .card-front-mainsign {
        font-size: 19px;
    }

    .card-front-thinsign {
        font-size: 16px;
        width: 108%;
    }

    .smallw {
        width: 90%;
        font-size: 17px;
    }

    #pensil-img1 {
        width: 150px;
        left: -10%;
    }

    .bigw {
        width: 40%;
    }

    .program-front-right,
    .game-front-right, .oge-front-right, .holiday-front-right {
        left: 0%;
        width: 300px;
    }

    .age {
        right: -5%;
        top: -13%;
    }

    #holiday-img {
        width: 150px;
    }
    .nowraps {
        margin-top: 15px;
    }
    #robot-dir-flipped-thin {
        font-size: 16px;
        width: 85%;
    }

    #rightman {
        left: 80%;
    }

    .card-back-sign {
        font-size: 16px;
        width: 95%;
        line-height: 30px;
    }

    .main-sign-pluses {
        font-size: 38px;
    }

    .plus-name {
        font-size: 30px;
    }

    .plus-description {
        font-size: 22px;
    }

    .main-sign-about {
        font-size: 22px;
    }

    .call-form-header {
        font-size: 27px;
    }

    .call-form-desc {
        font-size: 17px;
        width: 380px;
    }

    .politicy-span {
        font-size: 10px;
    }

    .footer-logo {
        font-size: 58px;
    }

    .doc-text {
        font-size: 18px;
    }
    .card-front-mainsign {
        width: 120%;
    }

    .age {
        top: -15%;
        right: -94%;
        font-size: 17px;
    }

    .main-sign-pluses {
        padding-bottom: 70px;
    }
}

@media screen and (max-width: 1085px) and (min-width: 715px) {

    .container-main {
        padding: 0px 50px;
    }
    .modal-first {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: visible !important;
        z-index: 500;
      }
    .about {
        overflow-y: hidden;
    }

    .marquee {
        margin-top: 10px;
    }

    #rs {
        height: 50px;
    }

    #ls {
        height: 50px;
    }

    #robotR {
        width: 150px;
    }

    #robotL {
        width: 100px;
    }

    .main-sign-pluses {
        padding-bottom: 70px;
    }


    .down-banner {
        margin: 20px 0px 0px 0px;
        display: flex;
        flex-direction: column;
    }

    .robots {
        position: relative;
        top: -45%;
        gap: 40px;
        align-items: end;
        justify-content: end;
    }

    .about,
    .direcions-main {
        overflow-x: hidden;
    }

    .banner-main {
        height: 700px;
    }

    .banner-text {
        width: 150%;
        top: 45%;
    }

    .banner-text-bold {
        font-size: 27px;
    }

    .banner-text-sign {
        font-size: 19px;
        font-weight: 400;
        width: 400px;
    }

    .images-bg {
        width: 100px;
    }

    .main-sign-about {
        font-size: 19px;
    }

    .down-line {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
    }

    #unity {
        grid-column: span 3;
        justify-self: center;
    }

    .directions-item {
        width: 200px;
    }

    .down-directions-item {
        width: 95%;
    }

    .cards-education {
        width: 600px;
    }

    .directions-sign {
        font-size: 30px;
    }

    .robot-dir-main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .robot-dir1 {
        padding: 40px 33px 50px 53px;
        max-width: 750px;
    }

    .robot-dir2 {
        padding: 40px 33px 50px 53px;
        max-width: 750px;
    }

    .robot-dir-right {
        position: absolute;
        top: 0;
        opacity: 1;
        width: 0px;
        height: 0px;
        z-index: -999;
        pointer-events: none;
    }

    .down-directions-item {
        height: 40px;
    }

    .li {
        opacity: 0;
    }

    .robot-dir-right {
        opacity: 0;
    }
    .robot-dir-mid {
        position: relative;
        right: 6%;
        top: 0%;
    }

    .signup {
        width: 47%;
        font-size: 20px;
    }

    .more {
        width: 47%;
        font-size: 20px;
    }

    #robot-dir-flipped-main {
        margin-top: 10px;
        font-size: 24px;
        margin-bottom: 30px;
    }

    #robot-dir-flipped-thin {
        font-size: 16px;
        width: 81%;
        line-height: 21px;
        z-index: 100;
    }

    #rightman {
        left: 82%;
        top: 31%;
        width: 150px;
    }

    #leftman {
        top: 31%;
        width: 150px;
    }

    .flipped-btn-active {
        font-size: 16px;
    }

    .flipped-btn {
        font-size: 15px;
    }

    .programming-gamedev,    .oge-holidays, .container-main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .program-card-main, .game-card-main, .oge-card-main, .holiday-card-main {
        width: 100%;
        max-width: 750px;
    }


    .program-front-right, .game-front-right, .oge-front-right, .holiday-front-right {
        left: -5%;
        width: 350px;
    }
    .smallw {
        width: 200px;
    }

    .oge-front {
        justify-content: space-between;
        position: relative;
    }

    .nowrap {
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .big {
        width: 300px;
    }

    .main-sign-pluses {
        font-size: 34px;
    }

    .image-plus {
        width: 100px;
    }

    .plus-name {
        font-size: 28px;
    }

    .plus-description {
        font-size: 16px;
        width: 90%;
    }

    .pluses-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .pluses {
        overflow-x: hidden;
    }

    .plus {
        width: 80%;
        position: relative;
        left: 5%;
    }

    .call-form {
        padding-left: 40px;
    }

    .call-form-header {
        font-size: 24px;
    }

    .call-form-desc {
        font-size: 17px;
        width: 300px;
    }

    .icons-footer {
        padding-right: 0px;
    }

    iframe {
        height: 350px;
    }

    .footer-info {
        margin-top: 140px;
        margin-bottom: 80px;
        gap: 20px;
    }

    .footer-logo {
        position: relative;
        top: 5px;
        font-size: 35px;
    }

    .social-icon {
        width: 40px;
    }

    .documents {
        gap: 5px;
    }

    .doc-text {
        font-size: 11px;
    }

    .form-input {
        width: 100%;
        height: 55px;
        font-size: 20px;
    }

    .form-btn {
        width: 100%;
        font-size: 19px;
        height: 60px;
    }

    .politicy-span {
        font-size: 10px;
    }

    .contacts-text {
        font-size: 20px;
    }

    #gamedev {
        opacity: 1;
    }
}

@media screen and (max-width: 820px) and (min-width: 715px) {
    #robot-dir-flipped-main {
        margin-top: 10px;
        font-size: 24px;
        margin-bottom: 30px;
    }

    #robot-dir-flipped-thin {
        font-size: 15px;
        line-height: 21px;
        z-index: 100;
        width: 84%;
    }

    #rightman {
        left: 79%;
        top: 31.5%;
        width: 150px;
    }

    #leftman {
        top: 31.5%;
        width: 150px;
    }
}


@media screen and (max-width: 747px) and (min-width: 715px) {
    #robot-dir-flipped-thin {
        font-size: 14px;
        line-height: 21px;
        z-index: 100;
        width: 84%;
    }
}


@media screen and (max-width: 714px) and (min-width: 50px) {

    body {
        min-width: 350px !important;
    }

    .main-sign-pluses {
        padding-bottom: 0px;
    }

    .navbar-brand {
        padding-left: 20px;
        font-size: 20px;
    }

    .navbar-toggler {
        margin-right: 20px;
    }

    .container-main {
        padding: 0px 15px;
    }

    .marquee {
        margin-top: 10px;
    }

    .marquee2 {
        margin-top: 0px;
    }

    #rs {
        height: 28px;
    }

    #ls {
        height: 28px;
    }

    #robotR {
        width: 140px;
    }

    #robotL {
        width: 90px;
    }

    .down-banner {
        margin: 20px 0px 0px 0px;
        display: flex;
        flex-direction: column;
    }

    .robots {
        position: relative;
        top: -45%;
        gap: 40px;
        align-items: end;
        justify-content: end;
    }

    .about,
    .banner-main,
    .direcions-main {
        overflow-x: hidden;
    }

    .banner-main {
        height: 750px;
        padding-bottom: 15px;
    }

    .banner-text {
        width: 150%;
        top: 85%;
    }

    .banner-text-bold {
        font-size: 22px;
    }

    .banner-text-sign {
        font-size: 13px;
        font-weight: 400;
        width: 300px;
    }

    .images-bg {
        width: 500px;
    }

    .main-sign-about {
        font-size: 17px;
        text-align: left;
    }

    .upper-line {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        margin-bottom: 0px;
    }

    .down-line {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }

    #unity {
        justify-self: center;
        position: relative;
        top: -200%;
    }

    #csharp {
        position: relative;
        right: -50%;
    }

    .directions-item {
        width: 170px;
    }

    #gamedev {
        opacity: 1;
    }

    .down-directions-item {
        width: 100%;
        height: 35px;
        gap: 0px;
    }
    
    .down-directions {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .upper-directions {
        display: grid;
        width: 350px;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0px;
        left: 4%;
        position: relative;
    }

    #gamedev {
        grid-column: span 2;
        justify-self: center;
    }

    .cards-education {
        width: 400px;
    }

    .directions-sign {
        font-size: 25px;
    }

    .robot-dir-main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
    }
    
    .robot-dir1 {
        padding: 23px 18px 25px 21px;
        overflow: hidden;
        max-width: 360px;
        height: 200px;
    }

    .robot-dir2 {
        padding: 15px 18px 25px 18px;
        max-width: 360px;
        height: 200px;
        z-index: 60;
    }

    #robot-dir-left-sign {
        font-size: 17px;
        margin-bottom: 20px;
    }

    #robot-dir-left-thin {
        font-size: 11px;
        width: 170px;
        line-height: 18px;
        margin-bottom: 18px;
    }

    .robot-dir-left-buttons {
        gap: 12px;
    }

    .robot-dir-right {
        position: absolute;
        top: 1000%;
        opacity: 0;
        width: 0px;
    }

    .robot-dir-mid {
        position: relative;
        right: 10%;
        top: 5%;
    }

    .signup {
        margin-top: 10px;
        width: 100px;
        font-size: 10px;
        height: 40px;
    }

    .more {
        margin-top: 10px;
        width: 100px;
        height: 40px;
        font-size: 10px;
        border: 2px solid rgba(255, 255, 255, 1);
        z-index: 50;
    }

    #robothead {
        width: 70px;
        left: 43px;
        top: 5%;
    }

    #robotbody {
        top: -10%;
        width: 150px;
    }

    #robot-dir-flipped-main {
        margin-top: 5px;
        font-size: 15px;
        margin-bottom: 10px;
    }

    #robot-dir-flipped-thin {
        font-size: 8px;
        width: 83%;
        line-height: 16px;
        z-index: 100;
        margin-bottom: 10px;

    }

    #rightman {
        left: 77%;
        top: 22.5%;
        width: 25%;
    }

    #leftman {
        width: 25%;
        top: 22.5%;
        left: -0.5%;
    }

    .flipped-btn-active {
        width: 48%;
        height: 40px;
        font-size: 9px;
        border: 0.5px solid rgba(0, 0, 0, 0.9);
    }

    .flipped-btn {
        width: 48%;
        height: 40px;
        font-size: 9px;
        border: 0.5px solid rgba(0, 0, 0, 0.9);
    }

    .programming-gamedev {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .program-card-main, .game-card-main,
    .oge-card-main, .holiday-card-main {
        width: 100%;
        max-width: 360px;
        height: 200px;
    }

    .program-front,
    .game-front,
    .oge-front,
    .holiday-front {
        width: 100%;
        height: 200px;
        padding: 23px 18px 25px 21px;
    }

    .program-front-right,
    .game-front-right, .oge-front-right, .holiday-front-right  {
        width: 210px;
        left: -33%;
    }

    .program-front-left,
    .game-front-left, .oge-front-left,
    .holiday-front-left  {
        position: relative;
        width: 100px;
        left: 68%;
    }

    #minecr-img {
        position: relative;
        width: 100px;
        left: 0%;
    }

    .card-front-thinsign {
        font-size: 11px;
        width: 170px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    #robot-dir-right-age {
        font-size: 16px;
        margin-bottom: 18px;
        width: 100px;
        position: absolute;
        top: 10%;
        right: 10%;
    }

    .age {
        top: -7%;
        right:-58%;
        width: 100px;

    }

    #computer-img {
        top: 10px;
        width: 100px;
    }

    .card-front-mainsign {
        font-size: 16px;
    }

    .program-back,
    .game-back {
        height: 200px;
        padding-top: 15px;
        padding-right: 30px;
        padding-left: 25px;
    }

    .close-icon {
        width: 50px;
    }

    .card-back-sign {
        line-height: 15px;
        font-size: 11px;
        width: 120%;
    }


    .nowraps {
        margin-top: 10px;
        margin-bottom: 25px;
        line-height: 8px;
    }

    .big {
        width: 150px;
        margin-top: 10px;
    }

    #holiday-img {
        width: 120px;
    }

    .oge-holidays {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }

    .oge-front-left {
        transform: rotate(90deg);
    }

    #pensil-img1 {
        position: relative;
        left: 4%;
        bottom: -15px;
        animation: none;
        width: 120px;
    }

    .main-sign-pluses {
        font-size: 20px;
    }

    .image-plus {
        width: 50px;
    }

    .plus-name {
        font-size: 18px;
        width: 200px;
    }

    .plus-description {
        font-size: 10px;
        line-height: 20px;
        width: 50%;
    }

    .pluses-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #plus-last {
        position: relative;
        right: -2%;
    }

    .pluses {
        overflow-x: hidden;
        margin-bottom: 100px;
    }

    .plus {
        width: 70%;
        position: relative;
        left: 15%;
    }

    .call-form {
        padding-left: 20px;
        padding-bottom: 15px;
        padding-top: 20px;
        height: 200px;
    }

    .call-form-header {
        font-size: 13px;
        width: 90px;
        line-height: 20px;
    }

    .call-form-desc {
        font-size: 9px;
        width: 110px;
        line-height: 15px;
    }

    .icons-footer {
        padding-right: 0px;
    }

    iframe {
        position: relative;
        top: -60px;
        height: 150px;
    }

    .footer-info {
        margin-top: 80px;
        margin-bottom: 80px;
        gap: 20px;
    }

    .footer-logo {
        position: relative;
        top: 5px;
        font-size: 20px;
    }

    .social-icon {
        width: 25px;
    }

    .socials {
        gap: 5px;
    }

    .documents {
        gap: 0px;
    }

    .doc-text {
        font-size: 7px;
        width: 120px;
        line-height: 12px;
        cursor: pointer;
    }

    .form-input {
        width: 160px;
        height: 40px;
        font-size: 10px;
        padding-left: 15px;
    }

    .form-div {
        padding-left: 20px;
    }

    .form-btn {
        width: 160px;
        font-size: 10px;
        height: 40px;
    }

    #contacts {
        font-size: 7px;
        width: 155px;
    }

    .cont {
        height: 100px;
        padding-right: 30px;
    }

    .contacts-div {
        height: 100px;
        justify-content: center;
        position: relative;
        top: -37%;
    }

    .contacts-text {
        font-size: 12px;
        margin-bottom: 0px;
        margin-right: 10px;
        line-height: 19px;
    }

    .icons-footer {
        gap: 10px;
    }


    label {
        margin-top: 20px;
    }

    .modal {
        background: #fff;
        position: relative;
        padding: 20px 15px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 250px;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: visible;
    }

    .input-field {
        border-radius: 15px;
        font-size: 10px;
        border: 1px solid #A9A9A9;
        margin-bottom: 10px;
        padding-left: 13px;
        width: 85%;
        height: 35px;
        background: #FFF;
    }

    #form-btn {
        margin-top: 10px;
        width: 70%;
        height: 45px;
        font-size: 15px;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }



    .modal-main-sign {
        margin-bottom: 20px;
        color: #000;
        text-align: center;
        font-family: 'Raleway';
        font-size: 10px;
        font-style: normal;
        font-weight: 800;
        line-height: 30px;
        line-height: normal;
    }


    .dropdown-form {
        width: 85%;
        user-select: none;
        position: relative;
        font-size: 10px;
        font-family: "Raleway";
    }

    .dropdown-form .dropdown-form-btn {
        border-radius: 15px;
        border: 1px solid #A9A9A9;
        margin-bottom: 15px;
        padding-left: 13px;
        height: 35px;
        width: 100%;
        background: #FFF;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;

    }

    .dropdown-form .dropdown-form-content {
        position: absolute;
        padding: 10px;
        background: #fff;
        box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
        font-size: 10px;
        font-weight: 500;
        color: #333;
        border-radius: 15px;
        width: 100%;
    }

    .sms-field {
        width: 30px;
        height: 30px;
        margin: 10px;
        background-color: #f0f0f0;
        font-family: "Raleway";
        border: 1px solid #ccc;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 800;
        padding-left: 10px;
        color: #333;
      }
      
      .modal-second {
        background: #fff;
        width: 200px;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        overflow: hidden;
      }
      
      .inputs-div {
        padding-top: 30px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
      }

      .inputs-div-shaking {
        padding-top: 30px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
      }
      
      .clock-locked {
        opacity: 0.85;
        font-size: 10px;
        transition: 0.2s ease-in-out;
        position: absolute;
        top: 63%;
      }
      
      .clock-unlocked {
        opacity: 1;
        font-size: 10px;
        text-decoration: underline;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        position: absolute;
        top: 63%;
      }
      .modal-second-success {
        position: absolute;
        top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      #success-sign {
        margin-top: 60px;
        margin-bottom: 20px;
        color: #000;
        text-align: center;
        font-family: 'Raleway';
        font-size: 17px;
        font-style: normal;
        font-weight: 800;
        line-height: 34px;
        line-height: normal;
        overflow: hidden;
      }

}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #ffffff !important;
        color: #000000 !important;
    }
}

@media screen and (max-width: 380px) and (min-width: 50px) {
    .age {
        right: -49%;
    }
    .robot-dir-mid {
        width: 70px;
    }
    .more {
        width: 90px;
    }
    .signup {
        width: 90px;
    }
    .big {
        width: 130px;
    }
}

@media screen and (max-width: 369px) and (min-width: 50px) {
    #rightman {
        top: 33%;
    }
    #leftman {
        top: 25.5%;
    }

}